# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
SHELL=/bin/bash
PATH=/usr/local/bin:/bin:/usr/bin
25 8 * * 1-4 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/らじおと 160 > /dev/null
55 0  * * 2 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/伊集院光深夜の馬鹿力 130 > /dev/null
55 14 * * 2 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/町山智浩たまむすび 35 > /dev/null
55 0  * * 3 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/爆笑問題カーボーイ 130 > /dev/null
55 14 * * 5 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/週末TUTAYA 35 > /dev/null
55 23 * * 5 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/粋な夜電波 65 > /dev/null
58 0  * * 6 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/バナナムーン 125 > /dev/null
55 21 * * 6 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/ウィークエンドシャッフル 125 > /dev/null
55 0  * * 7 cd ~/work/radio/batch && ./rec_radiko.sh TBS ~/work/radio/public/mp3/エレ片のコント太郎 130 > /dev/null
